body {
    background-color: black;
}

h1 {
    color: beige;
    text-align: center;
    opacity: .8
}

hr {
    width: 100%;
    height: 1px;
    background-color: whitesmoke;
}

h2 {
    color: bisque;
    opacity: .7;
    font-size: 35px;
    margin-left: 33%;
}

ul {
    color: beige;
    margin-left: 33%;
}

img {
    display: block;
    margin: 0 auto;
}